body {
  width: 90%;
  margin: 10px 10px 10px 10px;
  background-color: $color-scheme8;
  font-family: $primary-sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: $color-scheme5;
  text-align: left;
  margin: 1.5%;
  width: 97%;
}
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: fixed;
  top: 10px;
  left: 75px;
  background-color: $color-scheme3;
  float: left;
  padding: 2px 2px 2px 2px;
  width: 10%;
  height: 97%;
  text-align: center;
  font-size: 2em;
}

.icon-home {
  padding-left: 20px;
}
.icon-files-empty {
  padding-left: 20px;
}
.icon-cog {
  padding-left: 20px;
}
.icon-class {
  padding: 2px 2px 2px 2px;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  margin: 1.5%;
  width: 77%;
  background-color: $color-scheme4;
}
article { 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  float: right;
  margin: 0 1.5%;
  width: 77%;
}
h1 {
  width: 62%;
  background-color: $color-scheme1;
  font-family: $heading-sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: $color-scheme5;
  padding: 5px 5px 5px 5px;
}
h2 {
  font-family: $heading-sans-serif;
  font-size: 1.5em;
}
h3 {
  font-family: $heading-sans-serif;
  font-size: 1em; 
}
input {
  font-size: 100%;
  background-color: $color-scheme1;
  border: 1px solid $color-scheme3;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-left: 30px;
  margin-bottom: 10px;
}
ul {
  padding: 10px 30px 30px 30px;
  margin-left: 30px;
  margin-top: 30px;
}

li {
  width: 58%;
  background-color: $color-scheme4;
  list-style-type: none;
  font-weight: 700;
  padding: 10px 10px 10px 20px;
  margin: 10px 10px 10px 10px;
}
