body {
  width: 90%;
  margin: 10px;
  background-color: #fff;
  font-family: $primary-sans-serif;
  font-weight: 100;
}

h1 {
  width: 62%;
  font-family: $heading;
  font-size: 24px;
}

h2 {
  font-family: $heading;
  font-size: 18px;
}