body {
  width: 90%;
  background-color: $color-scheme8;
  text-align: center;
  font-family: $primary-sans-serif;
}
.main {
  @include flex-format;
  top: 0;
  bottom: 20px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-scheme5;
  text-align: left;
  margin: 1.5% 1.5% 1.5% 7.5%;
  padding: 0 0 1.250em 0;
  width: 85%;
  height: 90%;
}
::-webkit-scrollbar { 
  width: 12px; height: 2px;
}
::-webkit-scrollbar-button {
  background-color: $color-scheme3; 
}
::-webkit-scrollbar-track {
  background-color: $color-scheme3;
}
::-webkit-scrollbar-track-piece {
  background-color: $color-scheme2;
}
::-webkit-scrollbar-thumb {
  height: 25px; 
  background-color: $color-scheme3; 
  border-radius: 5px;
}
::-webkit-scrollbar-corner { 
  background-color: $color-scheme3;
}
::-webkit-resizer { 
  background-color: $color-scheme2;
}
nav {
  @include flex-format;
  align-items: flex-start;
  justify-content: space-around;
  position: fixed;
  top: 20px;
  left: 75px;
  background-color: $color-scheme3;
  float: left;
  padding: 0.125em 0.125em 0.125em 0.125em;
  min-width: 120px;
  width: 10%;
  height: 92.5%;
  text-align: center;
  font-size: 2em;
}
.cadet-logo {
  position: absolute;
  top: 25px;
  padding-left: 15%;
  max-width: 100%;
  max-height: 100%;
}
.assignment-header {
  padding: 20px 20px 20px 20px;
}
header {
  @include flex-format($flex-direction:row);
  margin: 0 0 0 7.5%;
  width: 95%;
  background-color: $color-scheme4;
  padding: 5px 5px 20px 20px;
}
article { 
  @include flex-format;
  float: right;
  margin: 0 1.5%;
  width: 77%;
}
h1 {
  width: 62%;
  background-color: $color-scheme4;
  font-family: $heading-sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: $color-scheme5;
  padding: 20px 20px 20px 20px;
}
h2 {
  width: 87%;
  background-color: $color-scheme1;
  font-family: $heading-sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  color: $color-scheme5;
  padding: 20px 20px 20px 20px;
}
