@import 'buttons/index';

button {
  @include lms-button;
  padding: 10px 10px 10px 10px;
}

.success-button {
  @include lms-button;
  padding: 10px 10px 10px 10px;
}

.caution-button {
  @include lms-button($caution-color);
  padding: 10px 10px 10px 10px;
}

.danger-button {
  @include lms-button($danger-color);
  padding: 10px 10px 10px 10px;
}
