@import 'buttons/index';

.success-button {
  @include lms-button(1em 1em 1em);
}

.caution-button {
  @include lms-button(1em 1em 1em, $caution-color);
}

.danger-button {
  @include lms-button(1em 1em 1em, $danger-color);
}
