<<<<<<< HEAD
//Colors

$color-scheme1: #18ce76; // light green 
$color-scheme2: #2185c5; // sky blue
$color-scheme3: #3e454c; // dark grey
$color-scheme4: #767d84; // light grey

//Typography

#Fira Mono
@import url(https://www.google.com/fonts/specimen/Fira+Mono);

#Fira Sans
@import url(https://www.google.com/fonts/specimen/Fira+Sans);

#Proxima Nova Soft

