//Colors

$color-scheme1: #18ce76; // light green
$color-scheme2: #2185c5; // sky blue
$color-scheme3: #3e454c; // dark grey
$color-scheme4: #767d84; // light grey
$color-scheme5: #FFFFFF; // white
$color-scheme6: #FFCF48; // yellow
$color-scheme7: #F00E0E; // red
$color-scheme8: #393636; // darker grey
$color-scheme9: #A7AAAE; // lightest grey

//Additional Colors
$success-color: $color-scheme1;
$caution-color: $color-scheme6;
$danger-color: $color-scheme7;
$shadow-color: $color-scheme9;

//Heading
$header: $color-scheme1;

//Font Families
$heading-font: "proxima-nova-soft", sans-serif;
