@import 'icons/index';

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-user:before {
  content: "\e971";
}
.icon-cog:before {
  content: "\e994";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook3:before {
  content: "\ea8e";
}
.icon-twitter3:before {
  content: "\ea93";
}
.icon-feed2:before {
  content: "\ea94";
}
.icon-github:before {
  content: "\eab1";
}
.icon-github2:before {
  content: "\eab2";
}
.icon-github3:before {
  content: "\eab3";
}
.icon-github4:before {
  content: "\eab4";
}
.icon-github5:before {
  content: "\eab5";
}
.icon-git:before {
  content: "\eae2";
}
