input {
  width: 120px;
  height: 40px;
  color: $color-scheme5;
  background-color: $color-scheme1;
  border: none;
  border-radius: 10px;
  font-size: 80%;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}
