ul {
  background-color: $color-scheme5;
}

li {
  width: 97.5%;
  height: 120px;
  background-color: $color-scheme5;
  list-style-type: none;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  padding: 10px 10px 20px 20px;
  margin: 6px 0 10px -40px;
  box-shadow: 1px 5px 2px $color-scheme9;
}
