//Compile all SCSS files into a single file

//Import Partials: Files used across entire project
@import 'reset';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'state';
@import 'typography';

//Import Modules: Specific Objects
@import 'buttons';
@import 'icons';
@import 'inputs';
@import 'lists';

//Import Config: Configuration layer
@import 'config';

//Import Base: Base layer
@import 'base';




