//Compile all SCSS files into a single file

//Import Partials: Files used across entire project
@import 'reset';
@import 'colors';
@import 'mixins';
@import 'state';
@import 'typography';

//Import Modules: Specific Objects
@import 'inputs';
@import 'buttons';

//Import Sassy Buttons
@import "sassy-buttons";

//Import Base: Base layer
@import 'partials/base';