@mixin button-size($size) {
  @if $size == "small" {
    padding: .4em .6em;
    font-size: .75em;
  }
  @else if $size == "large" {
    padding: .6em 2.5em;
    font-size: 1.2em;
  }
  @else {
    padding: .4em .8em;
  }
}

@mixin lms-button($background-color: $color-scheme1, $text-color: $color-scheme5, $size: 'default') {
  @include button-size($size);
  background-color: $background-color;
  color: $text-color;

  &:hover,
  &:active {
    background-color: lighten($background-color, 5%);
  }
}
